@dashboard-empty-prefix-cls: ~'@{ant-prefix}-dashboard-empty';

.@{dashboard-empty-prefix-cls} {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

