#for qt
CMakeLists.txt.user
# for cmake
CMakeCache.txt
CMakeFiles
# Makefile     this should be commented because we have Makefile in sh folder
cmake_install.cmake
install_manifest.txt

# for linux local file
*~

# for c++


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/out
*/install/
/install*
/install_loc
/CMakeSettings.json

# for log
*.log
# for vscode
.vscode/
build/

.reasonix/
scripts/SireRLGym/logs/*
**/logs/
*.pt

# for clion
cmake-build-debug-visual-studio
cmake-build-debug
.idea

# python script
__pycache__
.venv

# nodejs web_interface
# dependencies
node_modules/
robot/
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
trash/

# 3d meshes
*.obj
*.stl
*.gltf

# simulation results log
contact_solver_result.json
*result.json
motion_data/
*.pdb

# python
*/.env
*/local.toml
*egg-info
*.pyd

MUJOCO_LOG.txt

*.zip
*.npz
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
*.tif
*.npy