[submodule "third_party/aris"]
	path = third_party/aris
	url = https://github.com/leitianjian/aris.git
[submodule "third_party/hpp-fcl"]
	path = third_party/hpp-fcl
	url = https://github.com/humanoid-path-planner/hpp-fcl.git
[submodule "third_party/stduuid"]
	path = third_party/stduuid
	url = https://github.com/mariusbancila/stduuid.git
